.card#task:hover {
    background-color: aliceblue;
}

h6#task-namespace a{
    color: #00408591;
    font-size: 14px;
}

#task h1.card-title {
    font-size: 1.25rem;
}

#editor {
    width: 100%;
    height: 360px;
}

.ace_gutter > .ace_layer {
    background: #ffffff;
    color: #c3c1c1;
}

.form-control {
    border-radius: 0;
}

.ace_active-line > .ace_marker-layer > .ace_layer {
    background: #ffffff;
}


.ace_folding-enabled > .ace_gutter-cell {
    padding-right: 25px;
}

textarea#task-description {
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 0;
}

textarea#task-description:focus {
    box-shadow: none;
}

span.task-form-title {
    line-height: 2;
}

#task-raw {
    display: none;
}

@media (max-width: 980px) {
    span.task-form-title {
        margin-bottom: 5px;
    }

    [class*="col-"] {
        margin-bottom: 10px;
    }
}