{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-9">

            <div class="row">
                <div class="col-md-12">
                    <h3 class="float-left">Available Tasks</h3>
                    <div class="float-right">
                        <button class="btn btn-info">Create New Task</button>
                    </div>
                </div>
            </div>

            <hr>

            <input type="text" class="form-control form-control-lg mb-4" placeholder="Search..." autofocus>

            <div class="card border-light mb-3" id="task">
                <div class="card-body p-2">
                    <h1 class="card-title"><a href="#">LAMP - PHP 7.1 + MYSQL + NGINX</a></h1>
                    <h6 class="card-subtitle mb-2 text-muted" id="task-namespace"><a href="">mradhi</a> / <a href="">lamp</a></h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>

            <div class="card border-light mb-3" id="task">
                <div class="card-body p-2">
                    <h1 class="card-title"><a href="#">Dockr Debian 8 + Ubuntu 16.04</a></h1>
                    <h6 class="card-subtitle mb-2 text-muted" id="task-namespace"><a href="">george</a> / <a href="">dockr</a></h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>

            <div class="card border-light mb-3" id="task">
                <div class="card-body p-2">
                    <h1 class="card-title"><a href="#">MongoDB Debian 9 + Redis In Memory Database</a></h1>
                    <h6 class="card-subtitle mb-2 text-muted" id="task-namespace"><a href="">hajerh</a> / <a href="">redismongo</a></h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>

        </div>

        <div class="col-md-3">

        </div>
    </div>
{% endblock %}