{% extends '::base.html.twig' %}

{% block body %}

    <div class="row justify-content-md-center">
        <div class="col col-lg-10">

            <form action="{{ path('tasks_create') }}" method="post">

                <input type="hidden" name="_token" value="{{ csrf_token("mate_task") }}">

                <div class="card">

                    <div class="card-header">
                        <div class="row">
                            <div class="col-lg-2 text-center">
                                <span class="task-form-title">Create Task:</span>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" name="name" class="form-control form-control-sm"
                                       placeholder="Task name..."
                                       autocomplete="off" spellcheck="false" autofocus required>
                            </div>

                            <div class="col-sm-3">
                                <input type="text" name="slug" class="form-control form-control-sm"
                                       placeholder="Task slug..." id="slug"
                                       autocomplete="off" spellcheck="false" required>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <textarea placeholder="Raw..." id="task-raw" name="raw" required>#!/bin/sh</textarea>
                        <div id="editor" class="mb-2"></div>

                        <div class="form-group">
                            <textarea id="task-description" name="description" class="form-control"
                                      placeholder="Your description here..."></textarea>
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="float-left">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" name="public" class="custom-control-input" checked>
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Accessible for public?</span>
                            </label>
                        </div>
                        <div class="float-right">
                            <button class="btn btn-success" type="submit">Create Task</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>


{% endblock %}


{% block javascripts %}
    <script src="{{ asset('assets/js/slugify.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/ace.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="{{ asset('assets/js/custom/editor.js') }}"></script>

    <script type="text/javascript">
        $(function () {
            $('#slug').on('keyup', function (e) {

                this.value = slug(this.value);
            });
        });
    </script>
{% endblock %}